<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-bottom: 50px;">
      <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">How to work clause?</h1>
      <p style="font-style: italic;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nisi enim, assumenda obcaecati commodi id incidunt itaque nostrum possimus est perspiciatis nobis quisquam. Blanditiis dolorum dolores impedit cum, laudantium sequi.
      </p>
    </div>

    <div class="col-md-12">
      <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;">How to work find book?</h1>
      <p style="font-style: italic;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritatis fugit rem illo ratione quasi consectetur minima nesciunt alias, voluptatibus ad accusantium dicta hic nemo! Doloribus recusandae placeat expedita quos.
      </p>
    </div>
  </div>
</div>