<div class="col-md-12" style="margin-left:200px; max-width:960px; margin-bottom: 50px;">
    <button type="button" id="user_button" class="btn btn-secondary btn-lg" style="margin-right:10px;">Find Grammar Books</button>
    <button type="button" id="dev_button" class="btn btn-secondary btn-lg">New Book Data</button>
</div>

<div class="container" style="margin-left: 150px;">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 50px;">
                <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Searching for a Book
                </h1>
                <p style="font-style: italic;">
                    Click the "Find Grammar Books" button to find a book, or "New book data" section to enter data.
                </p>
            </div>

            <div class="col-md-12">
                <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;">Searching for a Clause</h1>
                <p style="font-style: italic;">
                    Looking for a Search French clause? Check out our <a href="/">Clause</a> page.
                </p>
            </div>
        </div>
    </div>

<script type="text/javascript">
    
    $("#main_nav_hb").replaceWith("");


</script>