<div class="container d-flex flex-column justify-content-center">
    <form action="/book" method="get" class="input-group my-4 mx-auto col-md-8 p-0">
        <input class="form-control" id="book_search_input" type="text" placeholder="Search Book Title"
            aria-placeholder="Search for a book tilte">
        </input>
        <div class="input-group-append">
            <button id="book_search_button" type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src={{find_book.img_url}} alt="Card image cap">
        {{!-- 테이블 콜럼의 이름과 매치 --}}
        <div class="card-body">
            <h5 class="card-title">{{find_book.book_name}}</h5>
            <p class="card-text">{{find_book.book_desc}}</p>
            <a href={{find_book.url}} class="btn btn-primary">Buy the book</a>
        </div>
    </div>
</div>