<button id="user_signin_button">user sign in</button>
<button id="dev_signin_button">developer sign in</button>

<script type="text/javascript">
    
    $("#main_nav_hb").replaceWith("");


</script>