<div class="card">
  <div class="card-header">
    <h3>Q1. What problem does your app focus on?</h3>
  </div>
  <div class="card-body" style="height: 100px;"><br>
    <h5 class="card-text" style="text">
        To make it easier to search for French grammar books while looking for French Clause.
    </h5>
  </div>

  <div class="card-header">
    <h3>Q2. How does your app solve this problem at a high-level?</h3>
  </div>
  <div class="card-body" style="height: 100px;"><br>
    <h5 class="card-text">Search a book where user can find the book and connect it with the Amazon link so that user can easily purchase the book they want.</h5>
  </div><br>  

  <div class="card-header">
    <h3>Q3. What steps did you take to build the app?</h3>
  </div>
  <div class="card-body">
    <h5 class="card-text"><br>
        <ul>
            <li>Create a page to show to the user: view(handlebars)</li>
            <li>Define the Database & table using workbench.</li>
            {{!-- <li>I think Carlos created and use .env file.</li> --}}
            <li>Use sequelize to connect to the data base.</li>
            <li>Create each route on the controller (get, post)</li>
            <li>Set to bring function when button is pressed in view folder(handlebars)</li>
            <li>Deploy database and app on heroku</li>
        </ul>
    </h5>
  </div><br>    

  <div class="card-header">
    <h4>Q4. Show the app running and solving the problem that began your story. Also talk about what features you’d like to add in an update to your app.</h4>
  </div>
  <div class="card-body">
    <h5 class="card-text"><br>
        Using api, which compares book prices, bring information that allows users to purchase books at the price they want.
        (I couldn't find the api which online bookstore price comparison.)
    </h5><br><br>
    <a href="/" class="btn btn-primary">Go our app!</a>
  </div>
</div>

<script type="text/javascript">
    
    $("#main_nav_hb").replaceWith("");


</script>