<div class="container d-flex flex-column justify-content-center">
    <form action="/" method="get" class="input-group my-4 mx-auto col-md-8 p-0">
        <input class="form-control" id="clause-search-input" type="text" placeholder="Search for a clause"
            aria-placeholder="Search for a clause">
        </input>
        <div class="input-group-append">
            <button id="clause-search-button" type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <table class="table bg-white">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Expression</th>
                <th scope="col">Takes Subjunctive?</th>
            </tr>
        </thead>
        <tbody>
            {{> clauses/clause-block clause }}
        </tbody>
    </table>

</div>