<div class="container">

  <div class="row">
    <div class="col-md">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Carlos C</h5>
                {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
                 <img src="assets/image/photo1.jpg" class="card-img" alt="Carlos img">
                <p class="card-text"></p>
                <a href="https://github.com/ccostoso/" class="card-link">Git Hub</a>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Khaled Hammouda</h5>
                {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
                 <img src="assets/image/photo2.png" class="card-img" alt="Khaled img">
                <p class="card-text"></p>
                <a href="https://github.com/Khaled212" class="card-link">Git Hub</a>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Grace Cho</h5>
                {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
                <img src="assets/image/photo3.png" class="card-img" alt="Grace img">
                <p class="card-text"></p>
                <a href="https://github.com/Grace8512" class="card-link">Git Hub</a>
            </div>
        </div>
    </div> 

   </div>
</div>

